<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.scss' | relative_url }}">
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>

</head>
<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
